

img{
  position: fixed;
  width: 65px;
  height: 65px;
  left: 25px;
  top: 6px;
  z-index:5;
}

.hero-title{
  position: fixed;
  width: 450px;
  height: 100px;
  left: 105px;
  top: -20px;

  font-family: copperplate;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 57px;
  /* identical to box height */
  color: #000000;
  z-index: 5;
}

.hero-title2{
  position: absolute;
  width: 450px;
  height: 100px;
  left: 580px;
  top: -20px;

  font-family: copperplate;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 57px;
  /* identical to box height */
  color: #000000;
  z-index: 5;
}

.searchbar input[type=text]{
  box-sizing: border-box;
  position: fixed;
  width: 582px;
  height: 45px;
  left: 445px;
  top: 2.5px;

  background: #FFFFFF;
  border-radius: 100px;

  padding: 20px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 25px;

  z-index:4;
}

.searchbar button {
  position: fixed;
  width: 80px;
  height: 60px;
  left: 960px;
  top: -5px;
  background: #FF9999;
  border-radius: 100px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  z-index:5;
}

.searchbar button:hover {
  background: #ff6666;
}
